# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env

# Uploads
uploads/

# Node
ui/node_modules/
ui/dist/

# OS
.DS_Store
Thumbs.db

# Docker volumes
pgdata/
redisdata/
qdrantdata/

# GitHub 
.github/prompts/*
google-client.json

# Logs
logs/